body{
    background: honeydew;
}
div{
    box-sizing: border-box;
    margin: auto;
    padding-top: 300px ;
    width: 500px;
    height: 500px;
    background: yellow;
    font-size: 200px;
    text-align: end;
}